<%- contentFor('home')  %> 
    <div class="container">
        <h1 class="mt-5 mb-5" id="name">Bulbasar</h1>
        <div class="container" id="header">
            <div class="row align-items-center">
                <div class="col">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/1.png" id="back-default">
                </div>
                <div class="col">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" id="front-default">
                </div>
                <div class="col">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" id="back-shiny">
                </div>
                <div class="col">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" id="front-shiny">
                </div>
            </div>
        </div>
        <div class="container mt-5" id="basic">
            <div class="row">
                <div class="col-mb-6">
                    <h2>Base Informations</h2>
                    <table class="table">
                        <tbody>
                        <tr>
                        <th>ID number</th>
                        <td></td>
                        </tr>
                        <tr>
                        <th>Type</th>
                        <td>
                        </td>
                        </tr>
                        <tr>
                        <th>Species</th>
                        <td>Seed Pokémon</td>
                        </tr>
                        <tr>
                        <th>Height</th>
                        <td>
                        </td>
                        </tr>
                        <tr>
                        <th>Weight</th>
                        <td></td>
                        </tr>
                        <tr>
                        <th>Abilities</th>
                        <td></td>
                        </tr>
                        </tbody>
                        </table>
                </div>
                <div class="col-mb-6">
                    
                </div>
            </div>
        </div>
    </div>
    <script src='/public/js/second.js'></script>
