<%- contentFor('home')  %> 
    <div class="container">
        <h1 class="mt-5 mb-5" id="name"></h1>
        <div class="container" id="header">
            <div class="row align-items-center">
                <div class="col">
                    <img src="" id="back-default">
                </div>
                <div class="col">
                    <img src="" id="front-default">
                </div>
                <div class="col">
                    <img src="" id="back-shiny">
                </div>
                <div class="col">
                    <img src="" id="front-shiny">
                </div>
            </div>
        </div>
        <div class="container mt-5 mb-5" id="basic">
            <div class="row">
                <div class="col">
                    <h2>Basic Informations</h2>
                    <div class="container">
                        <table class="table" id="baseInformation">
                            <tbody>
    
                            </tbody>
                            </table>
                    </div>
                    
                </div>
                <div class="col">
                    <h2>Base stats</h2>
                    <div class="container">
                        <table class="table" id="baseStatus">
                            <tbody>
    
                            </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src='/public/js/second.js'></script>
